body{
  background-color: #9999ff;
}

.App{
  background-color:#c653c6;
  min-height: 700px;
  width: 500px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: #c3c388;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);

}

#to-do-form input:focus #to-do-form button:focus{
  outline: none;
}

#to-do-form button{
  height: 50 px;
  width: 80 px;
  border-radius: 5px;
  border:0;
  background-color: rgb(202,156,24);
  cursor:pointer;
  font-weight: bolder;
  color: #fff;
}